.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: 35px;
  position: fixed;
  background-color: #282828;
  .header__logo
  {
    position: fixed;
    top: -2px;
    float: left;
    text-align: center;
    text-align: left;
  }
  .usd
  {
    float: right;
    right: 300px;
    padding: 0px 200px;
  }
  .usd a
  {
    top: -2px;
    font-size: 8px;
    color: #8d8c8c;
  }
  .header__c
  {
    font-size: 10px;
    float: right;
    position: fixed;
    right: 400px;
  }
  .header__c a
  {
    color: #f2f2f2;
    left: 150px;
    position: relative;
    bottom: 20px;
  }
  .hello
  {
    right: 60px;
    text-align: center;
    position: fixed;
  }
  .hello a
  {
    font-size: 10px;
    position: relative;
    bottom: 5px;
    color: #6b6b6b;
  }
}
.header__top a {

  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.root-wrapper {
  height: 900px;
  background-color: #f3f3f3;
  .sidebar-menu {
    float: left;
    flex-direction: column;
    height: 100%;
    width: 165px;
    font-size: 18px;
    padding: 40px 20px;
    top: 1000px;
    background-color: #373737;
    .navbar {
      ul.navbar-nav {
        padding-top: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        .navbar-nav .icon
        {
          display: none;
        }
        .nav-itemsup
        {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 80px;
          width: 165px;
          position: relative;
          .nav-linksup
          {
            padding: 10px 0px;
            text-decoration: none;
            font-size: 10px;
            color: #c9c9c9;
            position: relative;
            display: block;
            text-align: center;
            line-height: 10px;
          }
        }
        .nav-itemsup img
        {
          width: 25px;
          height: auto;
        }

        .nav-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 80px;
          width: 165px;
          position: relative;
          .nav-link {
            padding: 10px 0px;
            text-decoration: none;
            font-size: 10px;
            color: #c9c9c9;
            position: relative;
            display: block;
            text-align: center;
            line-height: 10px;
          }
          .img {
            width: 25px;
            height: auto;
          }
        }
     /*   .container
        {
          max-width: 1200px;
          margin: 0 auto;
          padding: 0 15px;
        }
        input[type=text]
        {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        button {
          background-color: #323232;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
        }
        .container {
          padding: 16px;
        }*/
      }
    }
  }
  .header {
    top: 20px;
    height: 220px;
    width: 100%;
    left: 165px;
    .main {
      display: flex;
    }
    .card1 {
      float: left;
      left: 40px;
      top: 60px;
      border-radius: 20px;
      background-color: #282828;
      width: 290px;
      height: 200px;
      position: relative;
    }
    .card2 {
      float: left;
      left: 80px;
      top: 60px;
      border-radius: 20px;
      background-color: #282828;
      width: 290px;
      height: 160px;
      position: relative;
    }
    .card3 {
      float: left;
      left: 120px;
      top: 60px;
      border-radius: 20px;
      background-color: #282828;
      width: 290px;
      height: 160px;
      position: relative;
    }
    .card4 {
      float: left;
      left: 160px;
      top: 60px;
      border-radius: 20px;
      background-color: #282828;
      width: 290px;
      height: 160px;
      position: relative;
    }
    .card1,
    .card2,
    .card3,
    .card4 {
      width: 200px;
      height: 115px;
    }
    .card1 p {
      font-size: 15px;
      padding-left: 20px;
      padding-top: 10px;
      left: 20px;
      top: 2px;
      color: white;
      display: flex;
    }
    .card1 p1 {
      font-size: 13px;
      padding-left: 13px;
      padding-top: 12px;
      right: 6px;
      top: 26px;
      color: #8d8c8c;
    }
    .card1 svg {
      position: relative;
      width: 13px;
      height: 13px;
      margin-top: 13px;
      margin-left: 50px;
    }
    .ncard1 p {
      font-size: 13px;
      position: relative;
      top: -10px;
      left: 1px;
      color: #8d8c8c;
    }
    .ncard1 p1 {
      font-size: 10px;
      color: #8d8c8c;
      position: relative;
      left: 6px;
      top: -20px;
    }
    .ncard1 img {
      width: 23px;
      height: auto;
      position: relative;
      left: 110px;
      top: -20px;
    }
    .card2 p {
      font-size: 15px;
      right: 118px;
      top: 2px;
      color: white;
      padding-left: 20px;
      padding-top: 10px;
    }
    .card2 p1 {
      font-size: 13px;
      padding-left: 13px;
      padding-top: 12px;
      right: 28px;
      top: 26px;
      color: #8d8c8c;
    }
    .card2 svg {
      position: relative;
      width: 13px;
      height: 13px;
      margin-top: 13px;
      margin-left: 50px;
    }
    .ncard2 p {
      font-size: 13px;
      padding-left: 20px;
      position: relative;
      top: -10px;
      left: 1px;
      color: #8d8c8c;
    }
    .ncard2 p1 {
      font-size: 10px;
      position: relative;
      left: 6px;
      top: -20px;
      color: #8d8c8c;
    }
    .ncard2 img {
      width: 30px;
      height: auto;
      position: relative;
      left: 110px;
      top: -20px;
    }
    .card3 p {
      font-size: 15px;
      right: 130px;
      top: 2px;
      color: white;
      padding-left: 20px;
      padding-top: 10px;
    }
    .card3 p1 {
      font-size: 13px;
      padding-left: 13px;
      padding-top: 12px;
      right: 47px;
      top: 26px;
      color: #8d8c8c;
    }
    .card3 svg {
      position: relative;
      width: 13px;
      height: 13px;
      margin-top: 13px;
      margin-left: 60px;
    }
    .ncard3 p {
      font-size: 13px;
      padding-left: 20px;
      position: relative;
      top: -10px;
      left: 1px;
      color: #8d8c8c;
    }
    .ncard3 p1 {
      font-size: 10px;
      position: relative;
      left: 6px;
      top: -20px;
      color: #8d8c8c;
    }
    .ncard3 img {
      width: 40px;
      height: auto;
      position: relative;
      left: 110px;
      top: -20px;
    }
    .card4 p {
      font-size: 15px;
      right: 95px;
      top: 2px;
      color: white;
      padding-left: 20px;
      padding-top: 10px;
    }
    .card4 p1 {
      font-size: 13px;
      padding-left: 13px;
      padding-top: 12px;
      right: -18px;
      top: 26px;
      color: #8d8c8c;
    }
    .card4 svg {
      position: relative;
      width: 13px;
      height: 13px;
      margin-top: 13px;
      margin-left: 50px;
    }
    .ncard4 p
    {
      font-size: 13px;
      padding-left: 20px;
      position: relative;
      top: -10px;
      left: 1px;
      color: #8d8c8c;
    }
    .ncard4 p1 {
      font-size: 10px;
      position: relative;
      left: 6px;
      top: -20px;
      color: #8d8c8c;
    }
    .ncard4 img {
      width: 50px;
      height: auto;
      position: relative;
      left: 100px;
      top: -20px;
    }
  }
  .center
  {
    height: 500px;
    width: 450px;
    top: 220px;
    margin-left: 200px;
    justify-content: center;
    align-items: flex-start;
   .chart1
   {
     height: 1600px;
     width: 1700px;
     position: relative;
     left: 30px;
     bottom: 80px;
   }
    .column1 canvas
    {
      position: relative;
      top: 45px;
      zoom: 70%;

    }
    .column1 a
    {
      color: #6b6b6b;
      font-size: 10px;
      float: left;
      position: relative;
      left: 160px;
      bottom: 190px;
    }
    .column1 a1
    {
      color: #6b6b6b;
      font-size: 10px;
      float: left;
      position: relative;
      left: 170px;
      bottom: 190px;
    }
    .column1 a2
    {
      color: #6b6b6b;
      font-size: 10px;
      float: left;
      position: relative;
      left: 180px;
      bottom: 190px;
    }
    .column1 a3
    {
      color: #ff686c;
      font-size: 10px;
      float: left;
      position: relative;
      left: 150px;
      bottom: 190px;
    }
    .column1
    {
      top: 46px;
      border-radius: 20px;
      background-color: white;
      width: 450px;
      height: 260px;
      display: flex;
      align-items: flex-start;
      .canvas{
        width: 10px;
        height:1% ;
        position: relative;
        top: 15px;

      }
      .item
      {
        display: flex;
      }
      .i
      {
        display: flex;
      }
      .total p
      {
        color: black;
        position: relative;
        margin-bottom: 140px;
        right: 280px;
        top: 3px;
      }
      .total p1
      {
        font-size: 10px;
        position: relative;
        bottom: 135px;
        left: 250px;
      }
      .total h4
      {
        font-size: 14px;
        color: black;
        position: relative;
        bottom: 137px;
        left: 260px;
      }
      .total svg
      {
        position: relative;
        left: 2px;
      }
      .total h1
      {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        color: black;
        position: relative;
        bottom: 135px;
        left: 270px;
      }
      .bs p b
      {
        font-size: 12px;
        position: relative;
        left: 300px;
        bottom: 200px;
        color: black;
      }
    }
    .column2
    {
      margin-top: 35px;
      top: 46px;
      border-radius: 20px;
      background-color: white;
      width: 450px;
      height: 230px;
      display: flex;
      align-items: flex-start;
      .chart
      {
        height: 160px;
        width: 400px;
        position: relative;
        left: 60px;
        top: 40px;
      }
      .brown
      {
        position: relative;
        top: 50px;
        background: linear-gradient(to right, #d1b7a3, #a78d7a);
        right: 410px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
      .brown b
      {
        position: relative;
        font-size: 10px;
        left: 20px;
        bottom: 9px;
      }
      .pink b {
        position: relative;
        font-size: 10px;
        left: 20px;
        bottom: 9px;
      }
      .pink
      {
        position: relative;
        top: 70px;
        background: linear-gradient(to right, #fb7995, #ff186c);
        right: 511px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
      .black {
        position: relative;
        top: 90px;
        background: linear-gradient(to right, #494949, #000000);
        right: 605px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
      .black b {
        position: relative;
        font-size: 10px;
        left: 20px;
        bottom: 9px;
      }
      .purple {
        position: relative;
        top: 110px;
        background: linear-gradient(to right, #cd97c8, #aa62ac);
        right: 697px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
      .purple b {
        position: relative;
        font-size: 10px;
        left: 20px;
        bottom: 9px;
      }
      .blue {
        position: relative;
        top: 130px;
        background: linear-gradient(to right, #9de3fe, #009bfa);
        right: 799px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
      .blue b {
        position: relative;
        font-size: 10px;
        left: 20px;
        bottom: 9px;
      }
      .yellow {
        position: relative;
        top: 150px;
        background: linear-gradient(to right, #ffefa9, #ffc000);
        right: 892px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
      .yellow b {
        position: relative;
        font-size: 10px;
        left: 20px;
        bottom: 9px;
      }
      .green {
        position: relative;
        top: 170px;
        background: linear-gradient(to right, #79fcad, #00ba2e);
        right: 987px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
      .green b {
        position: relative;
        font-size: 10px;
        left: 20px;
        bottom: 9px;
      }
      .veh {
        font-size: 9px;
        position: relative;

      }
      .veh p {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b6b6b;
        position: relative;
        top: 50px;
        right: 370px;
      }
      .gro {
        font-size: 9px;
        position: relative;
      }
      .gro p {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b6b6b;
        position: relative;
        top: 70px;
        right: 471px;
      }
      .clo {
        font-size: 9px;
        position: relative;
      }
      .clo p {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b6b6b;
        position: relative;
        top: 90px;
        right: 564px;
      }
      .cir {
        font-size: 9px;
        position: relative;
      }
      .cir p {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b6b6b;
        position: relative;
        top: 110px;
        right: 655px;
      }
      .mob {
        font-size: 9px;
        position: relative;
      }
      .mob p {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b6b6b;
        position: relative;
        top: 130px;
        right: 756px;
      }
      .hom {
        font-size: 9px;
        position: relative;
      }
      .hom p {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b6b6b;
        position: relative;
        top: 150px;
        right: 849px;
      }
      .oth {
        font-size: 9px;
        position: relative;
      }
      .oth p {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b6b6b;
        position: relative;
        top: 170px;
        right: 946px;
      }
    }
    .column2 a
    {
      color: #6b6b6b;
      font-size: 10px;
      float: left;
      position: relative;
      right: 790px;
      top: 7px;
    }
    .column2 a1
    {
      color: #6b6b6b;
      font-size: 10px;
      float: left;
      position: relative;
      right: 780px;
      top: 7px;
    }
    .column2 a2
    {
      color: #6b6b6b;
      font-size: 10px;
      float: left;
      position: relative;
      right: 770px;
      top: 7px;
    }
    .column2 a3
    {
      color: #ff686c;
      font-size: 10px;
      float: left;
      position: relative;
      right: 800px;
      top: 7px;
      margin-bottom: 170px;
    }
    .column2 p b
    {
      font-size: 12px;
      color: black;
      top: 3px;
      position: relative;
      margin-bottom: 140px;
     left: 20px;
    }
    .column2 h4 {
      font-size: 15px;
      color: black;
      position: relative;
      top: 110px;
      right: 885px;
    }
    .column2 svg {
      position: relative;
      bottom: 12px;
      left: 20px;
    }
    .column2 h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 8px;
      color: black;
      position: relative;
      top: 117px;
      right: 885px;
    }
  }
}
.column3
{
  left: 690px;
  top: -520px;
  position: relative;
  border-radius: 20px;
  background-color: white;
  width: 450px;
  height: 530px;
  .coffee b
  {
    right: 150px;
    color: #444444;
    font-size: 9px;
    top: 10px;
    position: relative;
  }
  .coffee h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    right: 125px;
    top: 5px;
  }
  .coffee
  {
    position: relative;
    top: 40px;
  }
  .coffee img
  {
    position: relative;
    top: 13px;
    right: 150px;
  }
  .coffee a
  {
    font-size: 7px;
    color: #8d8c8c;
    position: relative;
    right: 40px;
    bottom: 23px;
  }
  .coffee h6
  {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 242px;
    bottom: 66px;
  }
  .coffee h3
  {
    position: relative;
    font-size: 13px;
    left: 210px;
    bottom: 45px;
  }
  .walmart
  {
    position: relative;
    top: 40px;
  }
  .walmart h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    left: 43px;
    bottom: 70px;
  }
  .walmart b
  {
    color: #444444;
    font-size: 9px;
    right: 146px;
    bottom: 65px;
    position: relative;
  }
  .walmart a
  {
    font-size: 7px;
    color: #8d8c8c;
    position: relative;
    left: 120px;
    bottom: 98px;
  }
  .walmart h3
  {
    position: relative;
    font-size: 13px;
    left: 375px;
    bottom: 120px;
  }
  .walmart h6
  {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 400px;
    bottom: 142px;
  }
  .walmart img
  {
    position: relative;
    //top: 5px;
    right: 150px;
    bottom: 60px;
  }
  .transfer
  {
    position: relative;
    top:40px;
  }
  .transfer b
  {
    left: 20px;
    color: #444444;
    font-size: 9px;
    bottom: 139px;
    position: relative;
  }
  .transfer img
  {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 135px;
    right: -15px
  }
  .transfer h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    left: 45px;
    bottom: 185px;
  }
  .transfer a
  {
    font-size: 9px;
    color: #8d8c8c;
    position: relative;
    left: 100px;
    bottom: 213px;
  }
  .transfer h3
  {
    color: rgb(0, 208, 0);
    position: relative;
    font-size: 13px;
    left: 370px;
    bottom: 230px;
  }
  .transfer h6
  {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 404px;
    bottom: 251px;
  }
  .transfer p a
  {
    position: relative;
    left: 106px;
    top: -165px;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: deepskyblue;
    width: 55px;
    border-bottom: 1px solid deepskyblue;
    font-weight: normal;
  }
    .d31 h
    {
      font-size: 12px;
      color: rgb(202, 202, 202);
      position: relative;
      top: 35px;
      right: 249px;
    }
  .history b
  {
    font-size: 12px;
    float: left;
    right: 140px;
    position: relative;
    top: 4px;
  }
  .history a
  {
    color: #6b6b6b;
    font-size: 9px;
    float: left;
    left: 10px;
    position: relative;
    top: 10px;
  }
  .history a1
  {
    color: #6b6b6b;
    font-size: 9px;
    float: left;
    left: 30px;
    position: relative;
    top: 10px;
  }
  .history svg
  {
    position: relative;
    top: 1px;
    bottom: 1px;
    left: 2px
  }
  .history p b
  {
    position: relative;
    top: 7px;
  }
  .d29 h
  {
    font-size: 12px;
    color: rgb(202, 202, 202);
    position: relative;
    bottom: 200px;
    right: -22px;
  }
  .zara
  {
    position: relative;
    top:40px;
  }
  .zara b
  {
    left: 18px;
    color: #444444;
    font-size: 9px;
    bottom: 232px;
    position: relative;
  }
  .zara img
  {
    position: relative;
    bottom: 230px;
    right: -14px
  }
  .zara h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    bottom: 238px;
    left: 45px;
  }
  .zara a
  {
    font-size: 7px;
    color: #8d8c8c;
    position: relative;
    bottom: 266px;
    left: 113px;
  }
  .zara h3
  {
    position: relative;
    font-size: 13px;
    left: 375px;
    bottom: 290px;
  }
  .zara h6
  {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 407px;
    bottom: 310px;
  }
  .iterminal
  {
    position: relative;
    top:45px;
  }
  .iterminal b
  {
    left: 22px;
    color: #444444;
    font-size: 9px;
    top: -315px;
    position: relative;
  }
  .iterminal img
  {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 310px;
    left: 16px;
  }
  .iterminal h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    bottom: 320px;
    left: 45px;
  }
  .iterminal a
  {
    font-size: 7px;
    color: #8d8c8c;
    position: relative;
    bottom: 349px;
    left: 98px;
  }
  .iterminal h3
  {
    color: rgb(0, 208, 0);
    position: relative;
    font-size: 13px;
    left: 370px;
    bottom: 370px;
  }
  .iterminal h6
  {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 403px;
    bottom: 391px;
  }
  .d24 h
  {
    font-size: 12px;
    color: rgb(202, 202, 202);
    position: relative;
    bottom: 330px;
    left: 23px;
  }
  .car
  {
    position: relative;
    top: 40px;
  }
  .car b
  {
    left: 20px;
    color: #444444;
    font-size: 9px;
    bottom: 365px;
    position: relative;
  }
  .car img
  {
    position: relative;
    bottom: 360px;
    left: 17px;
  }
  .car h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    bottom: 372px;
    left: 45px;
  }
  .car a
  {
    font-size: 7px;
    color: #8d8c8c;
    position: relative;
    bottom: 400px;
    left: 127px;
  }
  .car h3
  {
    position: relative;
    font-size: 13px;
    left: 375px;
    bottom: 420px;
  }
  .car h6
  {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 406px;
    bottom: 441px;
  }
  .phone
  {
    position: relative;
    top: 40px;
  }
  .phone b
  {
    left: 20px;
    color: #444444;
    font-size: 9px;
    bottom: 445px;
    position: relative;
  }
  .phone img
  {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 440px;
    left: 17px;
  }
  .phone h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    bottom: 450px;
    left: 42px;
  }
  .phone a
  {
    font-size: 7px;
    color: #8d8c8c;
    position: relative;
    bottom: 478px;
    left: 120px;
  }
  .phone h3
  {
    position: relative;
    font-size: 13px;
    left: 375px;
    bottom: 500px;
  }
  .phone h6
  {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 404px;
    bottom: 521px;
  }
  .electric
  {
    position: relative;
    top:40px ;
  }
  .electric b
  {
    left: 20px;
    color: #444444;
    font-size: 9px;
    bottom: 525px;

    position: relative;
  }
  .electric img
  {
    position: relative;
    bottom: 520px;
    left: 17px;
  }
  .electric h1
  {
    color: #8d8c8c;
    position: relative;
    font-size: 9px;
    left: 43px;
    bottom: 532px;
  }
  .electric a
  {
    font-size: 7px;
    color: #8d8c8c;
    position: relative;
    left: 125px;
    bottom: 560px;
  }
  .electric h3
  {
    position: relative;
    font-size: 13px;
    left: 375px;
    bottom: 585px;
  }
  .electric h6 {
    color: #6b6b6b;
    position: relative;
    font-size: 10px;
    left: 406px;
    bottom: 606px;
  }
}
@media screen and (max-width: 600px) {
  .navbar-nav a:not(:first-child) {display: none;}
  .navbar-nav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px)
{
  .navbar-nav.responsive {
    position: relative;
  }
  .navbar-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

