.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100vw;
  height: 40px;
  position: fixed;
  background-color: #373737;

   .logo {
     width: auto;
     height: 30px;
     margin-left: 20px;
   }
  .usd
  {
    float: left;
    right: 100px;
    padding: 00px 240px;
    display: flex;
    .color
    {
      margin-right: 30px;
      margin-left: 30px;
      color: #747474;
    }
    .hello
    {
      right: 90px;
      position: fixed;
      .txt
      {
        left: 1110px;
        color: #747474;
      }
    }
  }
  .header__c
  {

    font-size: 10px;
    float: right;
    text-align: center;
    padding: 0px 0px;
    text-align: center;
    position: fixed;
    right: 250px;
    top: 0px;
  }
}
.root-wrapper {
  height: 840px;
  background-color: #373737;
  display: flex;

  .sidebar-menu {
    float: left;
    flex-direction: column;
    height: 100%;
    width: 165px;
    font-size: 18px;
    padding: 40px 20px;
    top: 1000px;
    background-color: #373737;
    .navbar {
      ul.navbar-nav {
        padding-top: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;

        .nav-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 80px;
          width: 150px;
          position: relative;

          .nav-link {
            margin: 0;
            line-height: 10px;
            text-align: center;
            color: #949494;
          }

          .img {
            width: 30px;
            height: auto;
          }
        }
      }

    }
  }

  .content {
    width: 100vw;
    background-color: #f1f1f1;
    display: flex;
    .main {
      width: calc(100% - 64px);
      height: calc(100% - 600px);
      margin-left: 32px;
      margin-top: 32px;
      margin-right: 32px;
      display: flex;

      .card1 {
        float: left;
        left: 40px;
        top: 50px;
        border-radius: 20px;
        background-color: #353535;
        color: #747474;
        width: 290px;
        height: 160px;
        margin-top: 50px;
        left: 50px;
      }

      .card2 {
        float: left;
        left: 40px;
        top: 50px;
        border-radius: 20px;
        background-color: #353535;
        color: #747474;
        width: 290px;
        height: 160px;
        margin-top: 50px;
        left: 50px;
        margin-left: 30px;
      }

      .card3 {
        float: left;
        left: 40px;
        top: 50px;
        border-radius: 20px;
        background-color: #353535;
        color: #747474;
        width: 290px;
        height: 160px;
        margin-top: 50px;
        left: 50px;
        margin-left: 30px;
      }

      .card4 {
        float: left;
        left: 40px;
        top: 50px;
        border-radius: 20px;
        background-color: #353535;
        color: #747474;
        width: 290px;
        height: 160px;
        margin-top: 50px;
        left: 50px;
        margin-left: 30px;
      }
    }
    .center
    {
      height: 600px;
      width: 200px;
      top: 220px;
      left: 165px;
      overflow-x: hidden;
      overflow-y: scroll;
      .column1
      {
        top: 46px;
        right: -40px;
        border-radius: 20px;
        background-color: white;
        width: 620px;
        height: 385px;
        .total
        {
          font-size: 12px;
          float: left;
          color: black;
          position: relative;
          top: 15px;
          left: 200px;

        }
      }
    }
  }
  }
